<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Leo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Leo.Properties.Settings>
            <setting name="isMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDevModeTrue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isMinimizeToTrayTrue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allowProgrammsStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allowBrowserStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allowNetworkUsing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allowAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allowComputerControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="applicationLanguage" serializeAs="String">
                <value>Русский, Россия</value>
            </setting>
            <setting name="voskLanguage" serializeAs="String">
                <value>Русский, Россия</value>
            </setting>
            <setting name="voiceVol" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="muteBtnIcon" serializeAs="String">
                <value>pack://application:,,,/Assets/images/mute.png</value>
            </setting>
            <setting name="soundVol" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="isAutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allowOpacity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nowDate" serializeAs="String">
                <value>29.05.2024</value>
            </setting>
            <setting name="messagesId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="notSaveMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="offLotMessageWarn" serializeAs="String">
                <value>False</value>
            </setting>
        </Leo.Properties.Settings>
    </userSettings>
</configuration>